﻿@page "{app}"
@model ReleaseTracker.Web.Pages.BuildsModel
@{
  ViewData["Title"] = $"{Model.App.Name} -  Upcoming Builds";
}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Upcoming Builds</h1>
    <h2>Shows builds of @Model.App.Name from the Master Branch that are more recent than what's released to Production.</h2>
  </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Build Number</th>
          <th>Git Commit</th>
          <th>Tickets <info-popover title="About" content="Compared to production. Based on source-control changes only."></info-popover></th>
          <th>Health <info-popover title="About" content="Performs checks based on JIRA and GIT. Does not indicate QA pass/fail status."></info-popover></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var build in Model.Builds)
        {
          <tr>
            <td>@build.CandidateBuild.BuildNumber</td>
            <td><a target="_blank" href="@build.App.GitUrl.Replace(".git", $"/commits/{build.CandidateBuild.GitCommit}")">@build.CandidateBuild.GitCommit.Substring(0, 12)</a></td>
            <td>
              <ul class="list-unstyled">
                @foreach (var change in build.ChangesAhead.Where(change => change.Issue != null))
                {
                <li><a href="https://jira.dealeron.com/browse/@change.Issue.Key" target="_blank" title="@change.Issue.Fields.Summary">@change.Issue.Key - @change.Issue.Fields.Status.Name</a></li>
                }
              </ul>
            </td>
            <td>
              @if (build.Messages.Any())
              {
                <ul class="list-unstyled">
                  @foreach (var message in build.Messages)
                  {
                    <li><span class="@build.Messages.MaxLevel().ToClassName("text")"><i class="fa fa-times"></i> @message.Title</span></li>
                  }
                </ul>
              }
              else
              {
                <span class="text-success"><i class="fa fa-check"></i> No Issues Detected</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>