﻿@page
@model ReleaseTracker.Web.Pages.CandidateModel
@{
  ViewData["Title"] = "Release Candidate Visualizer";
}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Release Candidate Visualizer</h1>
    <h2>View code changes and the linked issues included between the selected builds and production.</h2>
  </div>
</div>
@if (Model.RC != null)
{
  <partial name="_StatusView" model="@Model.RC" />
  <hr />
}
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-6">
      <h2>Configure Release Candidate</h2>
      <form method="get">
        @foreach (var build in Model.Builds)
        {
          <div class="form-group mr-2">
            <label>@build.Key</label>
            <select class="form-control" name="builds.@build.Key" asp-for="Builds[build.Key]" asp-items="@Model.AvailableBuilds[build.Key]"></select>
          </div>
        }
        <button type="submit" class="btn btn-primary">Create Release Candidate</button>
      </form>
    </div>
  </div>
</div>