﻿@page "{environment}"
@model ReleaseTracker.Web.Pages.UatModel
@{
  ViewData["Title"] = $"{Model.RC.CandidateEnvironment} to {Model.RC.BaselineEnvironment}";
}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">@Model.RC.CandidateEnvironment Environment</h1>
    <h2>Status of @Model.RC.CandidateEnvironment compared to @Model.RC.BaselineEnvironment</h2>
  </div>
</div>
<partial name="_StatusView" model="@Model.RC" />