﻿@page
@model ReleaseTracker.Web.Pages.IndexModel
@{
  ViewData["Title"] = "Production State";
}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Production State</h1>
    <h2>Current builds in the Production environment</h2>
  </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>App</th>
          <th>Released Build</th>
          <th>Deploy Date</th>
          <th>Git Commit</th>
          <th>Chart <info-popover title="About" content="Shows a graph of dependencies based on 'Fixed In Build' versions in JIRA."></info-popover></th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var build in Model.Apps)
        {
        <tr>
          <td>@build.App.Name</td>
          <td>
            @build.BuildNumber
            <br />
            <a asp-page="Builds" asp-route-app="@build.App.Name"><small>upcoming builds</small></a>
          </td>
          <td>
            @if (build.ReleasedAt.HasValue)
            {
              <time title="@build.ReleasedAt" datetime="@build.ReleasedAt">Deployed on @build.ReleasedAt.Value.ToLocalTime().ToString("M/d")</time>
            }
          </td>
          <td>
            @if (build.GitCommit != null)
            {
              <a target="_blank" title="@build.GitCommit" href="@build.App.GitUrl.Replace(".git", $"/commits/{build.GitCommit}")">@build.GitCommit.Substring(0, 12)</a>
            }
          </td>
          <td>
            @if (build.BuildNumber != null)
            {
              <a asp-page="IssueGraph" asp-route-Jql="@build.JqlQuery">Chart</a>
            }
          </td>
          <td>
            <ul class="list-unstyled">
              @if (build.TeamCityUrl != null)
              {
                <li><a target="_blank" href="@build.TeamCityUrl">TeamCity Build</a></li>
              }
              @if (build.OctopusDeployUrl != null)
              {
                <li><a target="_blank" href="@build.OctopusDeployUrl">Octopus Release</a></li>
              }
            </ul>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>