﻿@page
@model ReleaseTracker.Web.Pages.IssueGraphModel
@{
  ViewData["Title"] = "Jira Issue Visualizer";
}
@if (Model.HasError)
{
  <div class="container mt-4">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Jira Error</h4>
      <p>An Error occurred while fetching issues from JIRA. Please check the JQL query.</p>
    </div>
  </div>
}

<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-img-top">
      <svg width="100%" height="800" id="visualization">
        <defs>
          <marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
        <g id="view"></g>
        <g id="key">
          <rect id="key-status-new" class="" width="30" height="30" x="10" y="10" />
          <text x="50" y="30">New</text>
          <rect id="key-status-scoped" width="30" height="30" x="10" y="50" />
          <text x="50" y="70">Scoped</text>
          <rect id="key-status-in-progress" width="30" height="30" x="10" y="90" />
          <text x="50" y="110">In Progress</text>
          <rect id="key-status-pending-review" width="30" height="30" x="10" y="130" />
          <text x="50" y="150">Pending Review</text>
          <rect id="key-status-pending-build" width="30" height="30" x="10" y="170" />
          <text x="50" y="190">Pending Build</text>
          <rect id="key-status-pending-deploy" width="30" height="30" x="10" y="210" />
          <text x="50" y="230">Pending Deploy</text>
          <rect id="key-status-pending-qa" width="30" height="30" x="10" y="250" />
          <text x="50" y="270">Pending QA</text>
          <rect id="key-status-pending-uat" width="30" height="30" x="10" y="290" />
          <text x="50" y="310">Pending UAT</text>
          <rect id="key-status-pending-promotion" width="30" height="30" x="10" y="330" />
          <text x="50" y="350">Pending Promotion</text>
          <rect id="key-status-pending-hotfix" width="30" height="30" x="10" y="370" />
          <text x="50" y="390" b>Pending Hotfix</text>
          <rect id="key-status-done" width="30" height="30" x="10" y="410" />
          <text x="50" y="430">Released / Done</text>
          <rect id="key-highlighted" width="30" height="30" x="10" y="450" />
          <text x="50" y="470">Matched Initial Search</text>
        </g>
      </svg>
    </div>
    <div class="card-body">
      <form>
        <h5 class="card-title">Query</h5>
        <div class="card-text">
          <div class="input-group">
            <input asp-for="Jql" type="text" list="query-suggestions" class="form-control" placeholder="Jira JQL Query" />
            <datalist id="query-suggestions">
              <option value="status = 'Pending UAT'"></option>
              <option value="status = 'Pending Promotion'"></option>
              <option value="category = 'ProdDev Analytics' and status = 'Pending Build'"></option>
              <option value="category = 'ProdDev B2C' and status = 'Pending Build'"></option>
              <option value="category = 'ProdDev B2B' and status = 'Pending Build'"></option>
              <option value="category = 'ProdDev Infrastructure' and status = 'Pending Build'"></option>
              <option value="category = 'ProdDev Inventory' and status = 'Pending Build'"></option>
              <option value="category = 'ProdDev Leads' and status = 'Pending Build'"></option>
            </datalist>
            <div class="input-group-append">
              <div class="input-group-text">
                <!input type="checkbox" name="InwardOnly" value="true" @Html.Raw(Model.InwardOnly ? "checked=\"checked\" " : "")>
                <span class="ml-2">Inward Dependencies Only</span>
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
@section Head {
  <link rel="stylesheet" href="@Url.CacheBust("~/styles/dependency-graph.css")" />
}
@section Scripts {
  <script type="application/json" id="graph-data">
    @Json.Serialize(Model.Graph)
  </script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="@Url.CacheBust("~/scripts/dependency-graph.js")"></script>
}