﻿svg#visualization {
  background-color: #EEEEEE;
  background: radial-gradient(#9E9E9E, #757575);
  cursor: move;
}

  svg#visualization line.jira-link {
    stroke: #333333;
    stroke-width: 2px;
    marker-end: url(#arrow);
  }

    svg#visualization line.jira-link[data-link-type='Blocks'] {
      stroke-dasharray: none;
    }

    svg#visualization line.jira-link[data-link-type='Dependency'] {
      stroke-dasharray: 2;
    }

  svg#visualization .jira-issue {
    cursor: grab;
  }

  svg#visualization .jira-issue {
    cursor: grab;
  }

    svg#visualization #key > rect,
    svg#visualization .jira-issue > circle {
      stroke: #333333;
      stroke-width: 2px;
      fill: #999999;
    }

    svg#visualization .jira-issue text {
      fill: #333333;
    }

    svg#visualization #key > #key-highlighted,
    svg#visualization .jira-issue[data-highlighted=true] > circle {
      stroke: #EEFF41;
      stroke-width: 6px;
    }

    /* Dev */

    svg#visualization #key > #key-status-new,
    svg#visualization .jira-issue[data-status='New'] > circle {
      fill: #E3F2FD;
    }

    svg#visualization #key > #key-status-scoped,
    svg#visualization .jira-issue[data-status='Scoped'] > circle {
      fill: #BBDEFB;
    }

    svg#visualization #key > #key-status-in-progress,
    svg#visualization .jira-issue[data-status='In Progress'] > circle {
      fill: #90CAF9;
    }

    svg#visualization #key > #key-status-pending-review,
    svg#visualization .jira-issue[data-status='Pending Review'] > circle {
      fill: #64B5F6;
    }

    svg#visualization #key > #key-status-pending-build,
    svg#visualization .jira-issue[data-status='Pending Build'] > circle {
      fill: #42A5F5;
    }

    /* QA */

    svg#visualization #key > #key-status-pending-deploy,
    svg#visualization .jira-issue[data-status='Pending Deploy'] > circle {
      fill: #CE93D8;
    }

    svg#visualization #key > #key-status-pending-qa,
    svg#visualization .jira-issue[data-status='Pending QA'] > circle {
      fill: #BA68C8;
    }

    /* UAT */

    svg#visualization #key > #key-status-pending-uat,
    svg#visualization .jira-issue[data-status='Pending UAT'] > circle {
      fill: #80CBC4;
    }

    svg#visualization #key > #key-status-pending-promotion,
    svg#visualization .jira-issue[data-status='Pending Promotion'] > circle {
      fill: #4DB6AC;
    }

    /* Hotfix */

    svg#visualization #key > #key-status-pending-hotfix,
    svg#visualization .jira-issue[data-status='Pending Hotfix'] > circle {
      fill: #C62828;
    }

    /* Done */

    svg#visualization #key > #key-status-done,
    svg#visualization .jira-issue[data-status='Released'] > circle,
    svg#visualization .jira-issue[data-status='Closed'] > circle,
    svg#visualization .jira-issue[data-status='Done'] > circle {
      fill: #757575;
    }
