﻿@model ReleaseCandidate

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>App</th>
        <th>Build</th>
        <th>Deploy Date</th>
        <th>Git Commit</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var status in Model.Apps)
      {
        <tr>
          <td>@status.App.Name</td>
          <td>
            @if (status.HasChanges)
            {
              <span class="text-danger">@status.BaselineBuild.BuildNumber</span>
              <span class="ml-1 mr-1">&rarr;</span>
              <span class="text-success">@status.CandidateBuild.BuildNumber</span>
            }
            else
            {
              <span class="text-secondary">@status.BaselineBuild.BuildNumber</span>
            }
            @if (status.Messages.Any())
            {
              <i title="Issues were detected with this build. Check the messages tab for more info." class="ml-1 fa fa-warning @status.Messages.MaxLevel().ToClassName("text")"></i>
            }
            <br />
            <a asp-page="Builds" asp-route-app="@status.App.Name"><small>more builds</small></a>
          </td>
          <td>
            @if (status.CandidateBuild?.ReleasedAt.HasValue == true && status.CandidateBuild?.OctopusDeployUrl != null)
            {
            <time datetime="@status.CandidateBuild.ReleasedAt">Deployed On @status.CandidateBuild.ReleasedAt.Value.ToString("MM/dd")</time>
            }
          </td>
          <td>
            @if (status.CandidateBuild?.GitCommit != null)
            {
              <a target="_blank" href="@status.App.GitUrl.Replace(".git", $"/commits/{status.CandidateBuild.GitCommit}")">@status.CandidateBuild.GitCommit.Substring(0, 12)</a>
            }
          </td>
          <td>
            <ul class="list-unstyled">
              @if (status.CandidateBuild?.TeamCityUrl != null)
              {
                <li><a target="_blank" href="@status.CandidateBuild.TeamCityUrl">TeamCity Build</a></li>
              }
              @if (status.CandidateBuild?.OctopusDeployUrl != null)
              {
                <li><a target="_blank" href="@status.CandidateBuild.OctopusDeployUrl">Octopus Release</a></li>
              }
            </ul>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>