﻿@model ReleaseCandidate

<p>* Note: This is based on changes made to souce control. Non-source-controlled tasks such as database changes are not included.</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>App</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Dependencies</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var status in Model.Apps)
      {
        @foreach (var ticket in status.ChangesAhead)
        {
          <tr>
            <td>@status.App.Name</td>
            <td>
              @if (ticket.Issue != null)
              {
                <a target="_blank" href="https://jira.dealeron.com/browse/@ticket.Issue.Key">@ticket.Issue.Key</a>
              }
              else
              {
                <span class="text-secondary">No Ticket</span>
              }
            </td>
            <td>@ticket.Issue?.Fields.Status.Name</td>
            <td>
              @if (ticket.Issue != null && ticket.Issue.Dependencies.Any())
              {
                <a asp-page="IssueGraph" asp-route-Jql="issueKey = @ticket.Issue.Key">View Graph (@ticket.Issue.Dependencies.Count())</a>
              }
            </td>
            <td>
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="commits-@(ticket.Issue?.Key ?? "no-issue")-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                  @ticket.Changes.Count Commits
                </button>
                <div class="dropdown-menu" aria-labelledby="commits-@(ticket.Issue?.Key ?? "no-issue")-toggle">
                  @foreach (var change in ticket.Changes)
                  {
                    <a class="dropdown-item elipsize" title="@change.Message" target="_blank" href="@change.App.GitUrl.Replace(".git", "")/commits/@change.CommitId">@change.Message</a>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
<style>
  .elipsize {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
