﻿<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google" content="notranslate">
  <title>@ViewData["Title"] - Release Tools</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
  @RenderSection("Head", required: false)
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" asp-page="Index"><i class="fa fa-cubes"></i> Release Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-links">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" asp-page="Index">Production Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-page="Environment" asp-route-environment="UAT">UAT Environment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-page="Environment" asp-route-environment="QA">QA Environment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-page="Candidate">Custom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-page="IssueGraph">Issue Graph</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script>
  $(function() {
    $("[data-toggle='popover']").popover();
  });
  </script>
  @RenderSection("Scripts", required: false)
</body>
</html>
