﻿@model ReleaseCandidate

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>App</th>
        <th>Issue</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var status in Model.Apps)
      {
        @foreach (var message in status.Messages)
        {
        <tr>
          <td>@status.App.Name</td>
          <td>
            <h5 class="@message.Level.ToClassName("text")">@message.Title</h5>
            <p>@Html.Render(message.Description)</p>
          </td>
        </tr>
        }
      }
    </tbody>
  </table>
</div>
