﻿@model ReleaseCandidate


<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#builds">Builds <span class="badge badge-secondary">@Model.Apps.Count(app => app.HasChanges)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#changes">Changes <span class="badge badge-secondary">@Model.Changes.Count()</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#messages">Messages <span class="badge @Model.Messages.MaxLevel().ToClassName("badge")">@Model.Messages.Count()</span></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="builds">
      <partial name="_BuildsView" model="@Model" />
    </div>
    <div class="tab-pane fade" id="changes">
      <partial name="_ChangesView" model="@Model" />
    </div>
    <div class="tab-pane fade" id="messages">
      <partial name="_MessagesView" model="@Model" />
    </div>
  </div>
</div>